@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Quote
@{
}
<section class="d-flex align-items-center justify-content-center bg-black text-white w-100 px-3 introQuote">
    <q cite="@Model.CitationUrl">@Model.Text</q>
    <cite>&#8211 @Model.Author</cite>
</section>
