<ul class="navbar-nav" role="navigation">
@if (User.Identity.IsAuthenticated)
{
        <li class="nav-item align-middle">
            <label class="navbar-text text-dark">Hello @User.Identity.Name!</label>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignOut">Sign out</a>
        </li>
}
else
{
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignIn">Sign in</a>
        </li>
}
</ul>
