@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model ContactViewModel
@using AspNetCore.ReCaptcha
@{
}
<h1>I'd Love to Hear from You!</h1>
<form method="post">
    <div class="mb-3 row">
        <label class="col-form-label">Name*:</label>
        <div class="col-6">
            <input class="form-control col-6" asp-for="Message.FirstName" />
            <div class="form-text">First Name</div>
            <span asp-validation-for="Message.FirstName" class="text-danger"></span>
        </div>
        <div class="col-6">
            <input class="form-control col-6" asp-for="Message.LastName" />
            <div class="form-text">Last Name</div>
            <span asp-validation-for="Message.LastName" class="text-danger"></span>
        </div>
    </div>
    <div class="mb-3">
        <label class="col-form-label">Email Address*:</label>
        <input type="email" class="form-control" asp-for="Message.Email" />
        <div class="form-text">I will not share your email with anyone</div>
        <span asp-validation-for="Message.Email" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="col-form-label">Subject*:</label>
        <input class="form-control" asp-for="Message.Subject" />
        <span asp-validation-for="Message.Subject" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="col-form-label">Message*:</label>
        <textarea class="form-control" asp-for="Message.Detail"></textarea>
        <span asp-validation-for="Message.Detail" class="text-danger"></span>
    </div>
    <div class="container d-flex flex-column align-items-end p-0">
        <div class=" g-recaptcha mb-1" data-sitekey="@Model.CaptchaClientKey" data-callback="enableBtn"></div>
        <button id="submit_form" type="submit" class="btn btn-primary ms-1" asp-controller="Contact" asp-action="SendMessage" data-callback="onSubmit" disabled>Submit</button>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
        <script>
            function enableBtn() {
                document.getElementById("submit_form").disabled = false;
            }
            function onSubmit(token) {
                document.getElementById("email-form").submit();
            }
        </script>

    }
}