@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>I'd Love to Hear from You!</h1>
<form method="post">
    <div class="mb-3 row">
        <label class="col-form-label">Name*:</label>
        <div class="col-6">
            <input class="form-control col-6" />
            <div class="form-text">First Name</div>
        </div>
        <div class="col-6">
            <input class="form-control col-6" />
            <div class="form-text">Last Name</div>
        </div>
    </div>
    <div class="mb-3">
        <label class="col-form-label">Email Address*:</label>
        <input type="email" class="form-control" />
        <div class="form-text">I will not share your email with anyone</div>
    </div>
    <div class="mb-3">
        <label class="col-form-label">Subject*:</label>
        <input class="form-control" />
    </div>
    <div class="mb-3">
        <label class="col-form-label">Message*:</label>
        <textarea class="form-control"></textarea>
    </div>
    <div class="container d-flex justify-content-end p-0">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>