html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: helvetica;
}

footer {
    font-family: "Courier New";
}

.name-title {
    font-family: "Courier New";
}

#name-sm {
    display: none;
}

#devops {
    max-height: 15px;
}

@media only screen and (max-width: 480px) {
    #name-lg {
        display: none;
    }

    #name-sm {
        display: block;
    }
}
