html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: helvetica;
}

footer {
    font-family: "Courier New";
}

.name-title {
    font-family: "Courier New";
}

#devops {
    max-height: 15px;
}

